.text {
    text-align: center;
    font-weight: 500;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    border-top: 1px solid #c3c3c3;
    margin-top: 12px;
    height: 10%;
}

.copyRight {
    border-top: 1px solid #e7e7e7;
}
