.container{
    margin-top: 36px;
    /* display:grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 14px; */

}
.colorPrice{
    color: red;
    font-weight: 500;
}

.gridItem{
    width:200px
}
.base {
    padding-bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.effect{
    cursor: pointer;
    border: 1px solid #dddddd;
    padding: 9px;
    box-shadow: 3px 10px 9px #e9e9e9;
    border-radius: 16px;
}

